.container {
  width: 100%;

  .content {
    position: relative;
    padding-top: 30px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;

    .title {
      margin-bottom: 30px;
    }

    .closeButton {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20px;
      right: -10px;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      color: #aaa;
      font-size: 22px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      box-shadow: 0 0 30px 1px #ccc;
      transition: 0.3s all ease 0s;

      &:hover,
      &:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
