.header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    margin: 0;
  }

  .input {
    margin-left: 50px;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
  }

  .select {
    margin-left: 50px;
    padding: 7px 10px;
  }
}
