.container {
  align-items: center;
  box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  width: 17%;

  .avatar {
    height: 130px;
    margin-block: 20px;
    width: 130px;
  }

  .links {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    row-gap: 10px;

    .link {
      box-sizing: border-box;
      color: black;
      font-size: 20px;
      font-weight: 600;
      height: 35px;
      padding-bottom: 5px;
      padding-top: 5px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.3s ease 0s;

      &:hover {
        color: #55a45e;
      }
    }
  }

  .active {
    border-bottom: 5px #55a45e solid;
  }
}
